@model AboutUs

@{
    ViewData["Title"] = "About Us Page";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> *@

<link rel="stylesheet" href="css/about.css" />
<script src="/js/About.js"></script>


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="about">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Welcome to Sole Street Market – where passion for quality footwear meets the art of fashion. 
                    We are dedicated to bringing you a curated selection of shoes that blend style, comfort, and craftsmanship.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> Expertly Curated Collection: Every pair is a blend of fashion-forward design and comfort.</li>
                    <li><i class="bi bi-check2-all"></i> Global Fashion Insights: We stay ahead of trends by incorporating global fashion insights.</li>
                    <li><i class="bi bi-check2-all"></i> Commitment to Sustainability: We prioritize ethical sourcing and eco-friendly practices.</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    At Sole Street Market, we are more than just a shoe store; we are a community of fashion enthusiasts and sustainability advocates. 
                    Our mission is to provide footwear that not only looks good but also feels good and does good. Join us on this journey of style and conscious consumerism.
                </p>
            </div>
        </div>

    </div>
</section><!-- End  Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="custom-tabs row d-flex">
            <div class="custom-tab-item col-3" data-aos="zoom-in">
                <a class="custom-nav-link active show" data-bs-toggle="tab" href="#tab-1">
                    <i class="bi bi-bullseye"></i>
                    <h4 class="d-none d-lg-block">Mission</h4>
                </a>
            </div>
            <div class="custom-tab-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="custom-nav-link" data-bs-toggle="tab" href="#tab-2">
                    <i class="bi bi-brightness-high"></i>
                    <h4 class="d-none d-lg-block">Vision</h4>
                </a>
            </div>
            <div class="custom-tab-item col-3" data-aos="zoom-in" data-aos-delay="200">
                <a class="custom-nav-link" data-bs-toggle="tab" href="#tab-3">
                    <i class="bi bi-diagram-3"></i>
                    <h4 class="d-none d-lg-block">Value</h4>
                </a>
            </div>
            <div class="custom-tab-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="custom-nav-link" data-bs-toggle="tab" href="#tab-4">
                    <i class="bi bi-people"></i>
                    <h4 class="d-none d-lg-block">Customer Engagement</h4>
                </a>
            </div>
        </div>

        <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Excellence in Every Step: Sole Street Market's Commitment to Quality Footwear</h3>
                        <p class="fst-italic">
                            What sets Sole Street Market apart is our dedication to excellence.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Each shoe is handpicked, emphasizing quality, comfort, and style.</li>
                            <li><i class="bi bi-check2-all"></i>  Our fashion-savvy team globally sources diverse footwear including runway trends and classic designs.</li>
                            <li><i class="bi bi-check2-all"></i>  We cater to all preferences, offering a mix of the latest hits and timeless staples.</li>
                        </ul>
                        <p>
                            At Sole Street Market, our mission is to blend unparalleled dedication to excellence with a passion for distinctive footwear. 
                            We meticulously select each pair for its outstanding quality, unmatched comfort, and exceptional aesthetic appeal. 
                            Our commitment is to provide footwear that not only meets but exceeds the expectations of style-conscious customers.
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/img/mission.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3> A Step Ahead: Envisioning the Future of Footwear at Sole Street Market</h3>
                        <p>
                            Sole Street Market envisions a world where footwear is not just a necessity but a statement of individuality and quality.
                            We strive to be at the forefront of fashion and comfort, setting trends and exceeding expectations.
                        </p>
                        <p class="fst-italic">
                            Our vision is centered around four key pillars:
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Continuously introducing creative and trend-setting styles that define the future of footwear fashion.</li>
                            <li><i class="bi bi-check2-all"></i> Committing to environmentally responsible practices and materials, ensuring a greener future with every step.</li>
                            <li><i class="bi bi-check2-all"></i> Expanding our reach to bring diverse, world-class footwear to every corner of the globe.</li>
                            <li><i class="bi bi-check2-all"></i> Providing an exceptional shopping experience that values customer satisfaction above all.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/img/Vision.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Core Values: The Foundation of Sole Street Market</h3>
                        <p>
                            At Sole Street Market, our values are the cornerstone of our business, guiding our actions and decisions. 
                            We believe in creating a culture that reflects our commitment to excellence, integrity, and innovation in the world of footwear.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Ensuring every pair of shoes meets the highest standards of craftsmanship and durability.</li>
                            <li><i class="bi bi-check2-all"></i> Upholding ethical sourcing and business practices, respecting people and the planet.</li>
                            <li><i class="bi bi-check2-all"></i> Embracing innovation and striving for excellence in all we do.</li>
                        </ul>
                        <p class="fst-italic">
                            We are committed to excellence in every aspect. 
                            Our focus on quality craftsmanship, ethical practices, and constant innovation ensures every pair of shoes we offer is a testament to our dedication to our customers and the planet."
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/img/value.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Connecting with Customers: Sole Street Market's Engagement Approach</h3>
                        <p>
                            We believe in building strong, lasting relationships with our customers. 
                            Our engagement strategy is centered around understanding and fulfilling the unique needs and preferences of each customer,
                            ensuring that every interaction with us is personalized, memorable, and exceeds expectations.
                        </p>
                        </p>
                        <p class="fst-italic">
                            We strive to understand and cater to individual preferences, ensuring a personalized and satisfying shopping experience that resonates with our patrons' unique styles and needs.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Offering tailored recommendations and services to meet individual customer preferences.</li>
                            <li><i class="bi bi-check2-all"></i> Ensuring prompt and effective communication channels for customer feedback and support.</li>
                            <li><i class="bi bi-check2-all"></i> Creating a vibrant and interactive online community through social media and our website.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/img/customer.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->

<!--Image Galery-->
<section class="imgs">

    <div class="gallery-title" data-aos="zoom-out">
        <h2>Gallery</h2>
        <p>What we've done</p>
    </div>

    <div class="gallery">
        <div class="img-gallery">

            <div class="img">
                <img src="img/manPointing.jpg" />
            </div>
            <div class="img">
                <img src="img/wall2.jpg" />
            </div>
            <div class="img">
                <img src="img/moreLooking.jpg" />
            </div>
            <div class="img">
                <img src="img/looking1.jpg" />
            </div>
            

        </div>
        <div class="img-gallery">
            <div class="img">
                <img src="img/manLooking.jpg" />
            </div>
            
            <div class="img">
                <img src="img/wallOShoes.jpg" />
            </div>
        </div>
        
    </div>
</section>

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Team</h2>
            <p>Our Hardworking Team</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/img/phooaboutphoto.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/hlaing-hlaing-phoo-myint-0b4656294/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Phoo Myint</h4>
                        <span>Chief Executive Officer</span>
                        <p>Phoo Myint, our visionary CEO, leads our shoe store with passion, bringing the latest trends and quality footwear to our customers.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/img/joshaboutphoto.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/joshua-halat-2a9472270/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Josh Halat</h4>
                        <span>Chief Financial Officer</span>
                        <p>As our dedicated CFO, Josh Halat ensures financial responsibility and strategic planning for our shoe store's success.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/img/nicaboutphoto.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/nicolas-ross-10838621b/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Nicolas Ross</h4>
                        <span>Minister of Culture</span>
                        <p>Nicolas Ross, our creative Culture Minister, infuses our shoe store with artistry, creating unique and culturally resonant footwear.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/img/lucasaboutphoto.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/lucas-radke-134229293/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Lucas Radke</h4>
                        <span>Chief Marketing Director</span>
                        <p>Lucas Radke, our strategic Marketing Director, orchestrates captivating campaigns, propelling our brand to new heights.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->

