section {
    padding: 20px; /* Adjust this value as needed */
    overflow: hidden;
}

.create .createItem {
    width: 100%;
    border-top: 3px solid #5c9ead;
    border-bottom: 3px solid #5c9ead;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

    .create .createItem .form-group {
        padding-bottom: 8px;
    }
