@model Department
@{
    // Set the title of the page to "Create Department"
    ViewData["Title"] = "Create Department";
    
    // Include CSS stylesheets for the page
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="~/css/employeeRegisterValidationErrorMessage.css" />
}

<!-- Container for the page content -->
<div class="container">
    <!-- Section for department registration -->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <!-- Card for department registration -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- Title and description -->
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Add Department</h5>
                                <p class="text-center small">Enter the Department details</p>
                            </div>
                            
                            <!-- Form for creating a department -->
                            <form method="post" asp-action="CreateDepartment" class="createItem">
                                <!-- Department Name input -->
                                <div class="form-control">
                                    <label for="name">Department Name</label>
                                    <input type="text" class="form-control" id="name" asp-for="DepartmentName" required>
                                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                                </div></br>

                                <!-- Department Description input -->
                                <div class="form-control">
                                    <label for="description">Department Description</label>
                                    <textarea class="form-control" id="description" asp-for="DepartmentDesc" required></textarea>
                                    <span asp-validation-for="DepartmentDesc" class="text-danger"></span>
                                </div></br>

                                <!-- Submit button -->
                                <div class="text-center"><button type="submit">Create Department</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
