@model AtreidesTeamProject1.Models.ChangePasswordModel

<div class="tab-pane fade pt-3" id="profile-change-password">
    <!-- Change Password Form -->
    <form asp-action="ChangePassword" method="post">
        @Html.AntiForgeryToken() <!-- Anti-Forgery Token which is to prevent cross-site forgery attacks. -->

        <div class="row mb-3">
            <label for="CurrentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
            <div class="col-md-8 col-lg-9">
                <input name="CurrentPassword" type="password" class="form-control" id="CurrentPassword" required>
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="NewPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
            <div class="col-md-8 col-lg-9">
                <input name="NewPassword" type="password" class="form-control" id="NewPassword" required>
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="ConfirmNewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
            <div class="col-md-8 col-lg-9">
                <input name="ConfirmNewPassword" type="password" class="form-control" id="ConfirmNewPassword" required>
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form><!-- End Change Password Form -->
</div>
